@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Bowler>

    <h1 style="text-align:center;">Bowling!</h1>


    <img src="~/img/bowling.jpeg" width="1500" style="margin-left:auto; margin-right:auto;"/>